<% submit_label = @realm.new_record? ? "create" : "update" %>
<div class='form_container'>
  <div class='form_margins'>
    <%= form_for @realm, :url => polymorphic_path([current_user, @realm]) do |f| %>
      <div class='form_body'>
        <table>
          <tr>
            <td>
              <%= f.label :name %>
            </td>
            <td>                                            
              <%= f.text_field :name %>
            </td>
          </tr>
        </table>
      </div>
      <div class='form_actions'>
        <%= f.submit submit_label %>
      </div>
    <% end %>
  </div>
</div>
