<%#= resource_browser @realm%>
<div class='h_div h1'>
  <span>showing realm:</span><h1><%= " #{@realm.name}"%></h1>
</div>
<h2>Products:</h2>
<strong><%= link_to "new product", new_realm_product_path(@realm) %></strong>
<table class='listing'>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @products.each do |p|%>
  <tr>
    <td>
      <%= link_to p.name, realm_product_path(@realm, p)%>
    </td>
    <td>
      <%= crud_links([{:index => 'edit', :path => edit_user_product_path(current_user, p)},
                      {:index => 'delete', :path => user_product_path(current_user, p)}]) %>
  </tr>
<% end %>
  </tbody>
</table>