<h1>Your assignment confirmation</h1>
<% e_ack = @assignment_user.email_acknowledgement %>
<% if e_ack.pending? %>
  <p>
    I've sent an email to the account you entered when assigning the user.<br/>
  </p>
<% elsif e_ack.acknowledged? %>
  <% if(initial) %>
    <p>
      Your email address <%= @user.email %> has been confirmed.</br>
    <p/>
    <p>
      <%= render 'sessions/form'%>
    </p>
  <% else %>
    <p>
      This confirmation link had already been used
    </p>
    <%= link_to "Sign in now!", signin_path, :class => "signup_button round" %>
  <% end %>
<% elsif e_ack.expired? %>
  <p>
    Apparently the link to confirm your signup has expired.<br/>
    For reasons of security and your privacy's protection signup confirmation links expire after 48 hours of not being followed.<br/>
     
  </p>
<% else %>
  <p>
    
  </p>
<% end %>