<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>acknoledgement</th>
      <th>Realms</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td>
        <%= u.email %>
      </td>
      <td>
        <%= u.email_acknowledgement_status %>
      </td>
      <td>
        <%= u.realms.collect {|r| [r.name]}.split.join(", ")%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>