<% if object.errors.any? %>
  <div class = "error_explanation">
    <h2><%= pluralize(object.errors.count, "Error") %> prohibited this from being processed successfully</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>