<h1><%= @project.product.realm.name %> / <%= @project.product.name %> / <%= @project.name %></h1>
<p>
  want to have:
  <ol>
    <li>time tracker</li>
    <li>time sheets</li>
    <li>task lists</li>
    <li>project management features</li>
    <li>
  </ol>
</p>