<%= resource_browser @project%>
<% 
  case @project.organisation_type 
  when 'scrum_based' then template = 'scrum_type'
  when 'feature_based' then template = 'feature_type'
  when 'task_based' then template = 'task_type'
  when 'flat' then template = 'flat_type'
  end
%>
<%= render template%>
<p>
  <%= parent_link @project %>
</p>