<h1>My products</h1>
<strong><%= link_to "new product", new_user_product_path(current_user) %></strong>
<table class='listing'>
  <thead>
    <tr>
      <th>name</th>
      <th>realm</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @products.each do |p| %>
  <tr>
    <td>
      <%= link_to p.name, realm_product_path(p.realm, p) %>
    </td>
    <td>
      <%= link_to p.realm.name, user_realm_path(current_user, p.realm) %>
    </td>
    <td>
      <%= crud_links([{:index => 'edit', :path => edit_user_product_path(current_user, p)},
                      {:index => 'delete', :path => user_product_path(current_user, p)}]) %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>